{% extends "layout.html" %}

{%block title%}
Principal
{%endblock%}

{%block content%}

<div class="container col-12">
    <div class="form-group row justify-content-center">
        <div class="row form-group">
            <h1>Dona a la Veterinaria!</h1>
        </div>
    </div>
</div>

<div class="container col-12">
    <div class="form-group row justify-content-center">
        <div class="row form-group">
            <a href="{{ url_for('appuser.verUsuarios') }}" class="btn btn-info form-control col-12">
                <div class="option">
                    Ver usuarios
                </div>
            </a>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{%endblock%}