<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertencia!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/control_admin.css')}}">
</head>
<body class="bg-dirt">
    <div class="container col-12">
        <div class="form-group row justify-content center">
            <div class="text-light">
                <h1>Advertencia!!</h1>
                <h4>Los administradores aun no terminan de configurar la página...</h4>
                <h4>Intentalo más tarde</h4>
            </div>
        </div>
    </div>
</body>
</html>