{% extends "layout2.html" %}

{%block title%}
Usuarios
{%endblock%}

{%block content%}
<div class="container col-10 justify-content-center">

    <h3 class="col-3 mt-3">Usuarios</h3>

    <div class="container-form col-12 mt-3">
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="table-success">
                    <th>ID</th>
                    <th>Email</th>
                    <th>Nombre</th>
                    <!-- <th>password</th> -->
                    <th>Registrado</th>
                    <th>Admin</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td class="table-dark">{{usuario.id}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.nombre}}</td>
                        <!-- <td>{{usuario.password}}</td> -->
                        <td>{{usuario.registrado}}</td>
                        <td>{{usuario.admin}}</td>
                        <td><a href="editar/usuario/{{usuario.id}}">Editar</a></td>
                        <td><a href="eliminar/usuario/{{usuario.id}}">Eliminar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>

{%endblock%}