<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home_styles.css')}}">
    
    <script src="https://kit.fontawesome.com/41bcea2ae3.js"></script>
    
</head>
<body id="body">

    <!-- titulo y menu -->
    <div id="main-app" class="main-wrapper">
        <nav class="navbar navbar-light bg-light">
            
            <header>
                <div class="d-flex justify-content-left ml-3 pl-2">
                    <i class="fas fa-bars" id="btn_open"></i>
                </div>
            </header>

            <div class="d-flex justify-content-center container col-10">
                <h2>Pets cloud</h4>
            </div>
        </nav>
    </div>
    
    <!-- Menú principal  -->
    <div class="menu__side" id="menu_side">
        <!-- Titulo de menu principal -->
        <div class="name__page">
            <a href="">
                <i class="fas fa-house" title="Inicio"></i>
            </a>
            <a href="#">
                <h4 class="">Pets Cloud</h4>
            </a>
        </div>

        <!-- Opciones de menu -->
        <div class="options__menu container-fluid">
            <div class="form-group row">
                <a class="btn btn-light form-control col-sm-12" href="Perfil">
                    <div class="option">
                        <i class="fa-solid fa-user-pen" title="Perfil"></i>
                        Perfil
                    </div>
                </a>
            </div>

            <div class="form-group row">
                <a class="btn btn-light form-control col-sm-12" href="Donar">    
                    <div class="option">
                        <i class="fa-solid fa-donate"></i>
                            Donar
                    </div>
                </a>
            </div>

            <div class="form-group row">
                <a class="btn btn-light form-control col-sm-12" href="Mis Donaciones">    
                    <div class="option">
                        <i class="fa-solid fa-money-bill-transfer" title="Mis Donaciones"></i>
                        Mis Donaciones
                    </div>
                </a>
            </div>

            <div class="form-group row">
                <a class="btn btn-light form-control col-sm-12" href="{{ url_for('logout') }}">    
                    <div class="option">
                        <i class="fa-solid fa-right-from-bracket" title="logout"></i>
                        Logout
                    </div>
                </a>
            </div>

        </div>
    </div>

    {%block content%}
    {%endblock%}

    <script src="{{ url_for('static', filename='js/main/menu_scripts.js') }}"></script>
</body>
</html>
